@model Project


<table class="table">

    <!--Table head-->
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Client</th>

        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        <tr class="table-info">
            
            <td><img src="~/assets/images/project/@Model.Image" width="100px"/></td>
            <td>@Model.Name</td>
            <td>@Model.Discreption</td>
            <td>@Model.Client</td>
            
        </tr>
       
       
    </tbody>
    <!--Table body-->


</table>
<!--Table-->